#root {
  width: 100vw;
  justify-content: center;
}

#page {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  flex-direction: column;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border: 0.1em solid grey;
  background-color: #282c34;
  color: lightgray;
  font-size: 3vmin;
  padding: 1vmin;
}

.recharts-pie-sector path {
  stroke-width: 0.4em;
}

.reset {
  box-sizing: border-box;
  order: 4;
  border: 0.1em solid grey;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  background-color: lightblue;
  cursor: pointer;
  text-align: center;
}
.reset:hover {
  background-color: darkcyan;
}

body {
  background-color: #282c34;
  color: lightgray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  font-size: 1.5vmin;
}

.counter-with-stats {
  order: 1;
  background-color: #282c34;
  border: solid grey;
  border-left-width: 0.1em;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* Left Flex Box */
#counters {
  display: flex;
  order: 1;
  width: 40%;
  height: 30em;
  justify-content: center;
}

#counters .value {
  align-self: center;
}

.counter {
  height: 100%;
  box-sizing: border-box;
  border: 0.1em solid grey;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  font-size: 1.5em;
}

.btn {
  font-size: 1.5em;
  border-width: 0.1em;
  width: 100px;
  height: 100%;
  cursor: pointer;
  align-self: center;
}

.minus {
  width: 40%;
  justify-self: left;
  margin-right: 20px;
}

.plus {
  width: 40%;
  justify-self: right;
  margin-left: 20px;
}

.value {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.value.pos {
  color: #4CAF50;
  background-color: inherit;
}

.value.neg {
  color: red;
  background-color: inherit;
}

.value.neu {
  color: yellow;
  background-color: inherit;
}

.value.pos:hover
.value.neg:hover
.value.neu:hover {
  background-color: #282c34;
}

/* Right Flex Box */
#stats {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  justify-content: space-evenly;
  order: 2;
  width: 60%;
  height: 50em;
}

.score {
  font-weight: bold;
  margin-bottom: 10px;
}

.neu {
  background-color: yellow;
}
.neu:hover {
  background-color: darkgoldenrod;
}

.pos {
  background-color: #4CAF50;
}
.pos:hover {
  background-color: darkgreen;
}

.neg {
  background-color: red;
}
.neg:hover {
  background-color: darkred;
}

@media (max-width: 600px) {
  button:hover {
    background-color: inherit;
  }

  #root {
    width: 100vw;
  }

  #page {
    width: 100%;
  }

  .reset {
    width: 100%;
  }

  .counter {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .minus {
    width: 100%;
  }

  .plus {
    width: 100%;
  }

  .value {
    width: 100%;
  }

  .ratios {
    width: 100%;
  }

  .ratio {
    width: 100%;
  }

  .ratioRight {
    margin-right: 0;
  }

  .ratioLeft {
    margin-left: 0;
  }
}

